/* You can add global styles to this file, and also import other style files */
.navbar-brand{
    font-size:3.25rem !important;
}
.container-fluid{
    background-color: #00ccff;
    font-size: 12px;
}
.panel-primary{
    border-color: #00ccff !important;
}
.panel-heading{
    background-color: #00ccff !important;
}
.btn-primary{
    background-color: #00b8e6 !important;
    border-color: #00ccff !important;
}
.btn-default{
    background-color: #ccccb3 !important;
    border-color: black !important;
}